<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Carrossel com Imagens e Vídeos</title>
  <!-- CSS do Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .carousel-item img {
    object-fit: fill;
    height: 100vh;
    width: 100%;
  }


  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para manter a proporção de aspecto */
  }

  
  
  </style>
</head>
<body>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-inner">

      <div class="carousel-item active" data-interval="100">
        <!-- <h1>CARREGANDO ...</h1> -->
        <div class="loader-container">
          <div class="loader"></div>
          <div class="loading-text">Carregando Mídias para a Tv!</div>
        </div>
      </div>
      {% for dado in tv %}

        {% if dado.tipo == 'imagem' %}

          <div class="carousel-item " data-interval="{{dado.tempo}}">
            <img src="{{ dado.caminho_completo }}" class="d-block w-100" alt="..."  >
          </div>

        {% else %}

          <div class="carousel-item "  >
            <video   class="d-block w-100"     muted >
              <source src="{{ dado.caminho_completo }}" type="video/webm" >
            </video>
          </div>

        {% endif %}

      {% endfor %}
  </div>

  </div>
  <!--
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próxima</span>
  </a>
</div>
  -->

<!-- JavaScript do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<!-- <script>
  $(document).ready(function(){
    $('#carouselExampleControls').on('slid.bs.carousel', function () {
      var activeElement = $('.carousel-item.active');
      var video = activeElement.find('video')[0];
      if(video) {
        video.play();
      }
    });
  });
  </script> -->


<script>
  $('video').on('play', function (e) {
      $("#carouselExampleControls").carousel('pause');
  });
  $('video').on('stop pause ended', function (e) {
      $("#carouselExampleControls").carousel();
  });
  </script>


<script>
  // Ativa a transição de slide, mesmo quando o mouse está sobre o carrossel
  $(document).ready(function(){
    $(".carousel").carousel({
      pause: "false" // Impede que a transição seja pausada quando o mouse está sobre o carrossel
    });
  });
</script>


<script>
  $('#carouselExampleControls').on('slid.bs.carousel', function () {
    // Verifica se o primeiro slide está ativo novamente após completar um ciclo
    if ($('.carousel-item:first').hasClass('active')) {
      location.reload(); // Recarrega a página
    }
  });
</script>

</body>
</html>